<html>
<head>
  <title>S3 Content Archives</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" >
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Content Archives</h1>
      <p>This is a Simplistic UI for exposing the zip archives for automated content export.</p>
    </div>
  </div>

  <div>
    {{range $element := .zipFiles}}
      <a href= "/download/{{ $element }}">{{ $element }}</a>
      <br/>
    {{ end }}
  </div>
</body>
</html>